<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQrndWObZl5nnW4EIbHpUQXUDAofi_05I</string>
	<key>GCM_SENDER_ID</key>
	<string>199102790189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceSystem</string>
	<key>PROJECT_ID</key>
	<string>sihstudentatendacne</string>
	<key>STORAGE_BUCKET</key>
	<string>sihstudentatendacne.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199102790189:ios:50cc162f88083e3ab096a4</string>
</dict>
</plist>